body {
    display: flex;
    background-color: rgb(123, 178, 119);
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: small;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

footer {
    color: white;
    text-align: center;
    font-size: small;
}

.konten {
    justify-content: center;
    align-items: center;
}

#list {
    font-size: medium;
    font-weight: normal;
}

#list:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.100);
}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.log {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
}
